@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Cardo", serif;

  border: 1px solid red;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13vh 9vw 1vh 9vw;
  border-radius: 5px;
  box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
}
.navItems {
  display: flex;
  align-items: center;
  gap: 7vw;
  color: rgb(100, 93, 93);
  font-size: 19px;
  padding: 5px 18px;
}
#contactUsNav {
  display: none;
}

#logoItem {
  display: none;
}
.contactUsBtn {
  border: 3px solid #2d2d2d;
  border-radius: 7px;
}

.ri-menu-3-line {
  display: none;
}
/* .contactUs > i{
    display: none;
} */
.contactUsBtn > h3 {
  padding: 1vh 2vmax;
  color: #2d2d2d;
  border: none;
  cursor: pointer;
  font-size: 19px;
}

.navItems > i {
  font-size: 2vw;
  display: none;
}

#home {
  color: black;
  padding: 5px 18px;
}
.navItems > a {
  color: #2d2d2d;
}
@media (max-width: 500px) {
  .navBar {
    padding: 13vmin 8vw 3vmax 8vw;
  }
  .navItems > i {
    display: block;
    font-size: 6vmax;
  }

  .navItems a {
    display: none;
  }

  .contactUs > button {
    display: none;
  }
  .ri-menu-3-line {
    display: block;
    font-size: 6vmax;
  }
  #logoItem {
    display: block;
    font-size: 4vmax;
    color: black;
  }
}
