@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: "Cardo", serif; */

  /* border: 1px solid red; */
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #eceaeb;
  /* background-color: red; */
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  padding: 4% 7% 0% 5%;
  border-radius: 5px;
  box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
  width: 100%;
  background-color: #eceaeb;

  /* height: 115px; */
}
.navItems {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  color: rgb(100, 93, 93);
  font-size: 19px;
  padding: 5px 18px;
  transition: all 0.5s ease-in-out;
}
#contactUsNav {
  display: none;
}

#logoItem {
  display: none;
}
.contactUsBtn {
  border: 3px solid #040303;
  border-radius: 7px;
}

.ri-menu-3-line {
  display: none;
}
/* .contactUs > i{
    display: none;
} */
.contactUsBtn > h3 {
  padding: 1vh 3vmax;
  color: #2d2d2d;
  border: none;
  cursor: pointer;
  font-size: 19px;
}

.navItems > i {
  font-size: 2vw;
  display: none;
}

#home {
  color: black;
  font-weight: bolder;
}

.navItems > a:hover {
  background-color: black;
  color: white;
  border-radius: 22px;
}

.navItems > a {
  padding: 5px 18px;
  transition: all 0.5s ease-in-out;
  color: rgb(100, 93, 93);
}
#home:hover {
  color: white;
  border-radius: 22px;
}

#phoneIcon {
  display: none;
  color: black;
}

.landingPage {
  padding: 11% 7% 7.6% 7%;
  font-family: "Cardo", serif;
  background-image: url(../images/imageTwo.png), url(../images/imageThree.png);
  background-position: left -14rem top 16rem, right -1rem top 24rem;
  background-size: 43rem 43rem, 6rem 17rem;
  background-repeat: no-repeat;
}

.homeContainer {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-wrap: wrap;
  gap: 131px;
}

.mainDescription {
  width: 37%;
}
.mainHeading {
  font-size: 34px;
  line-height: 66px;
  font-weight: bolder;
}

.description {
  font-size: 14px;
  padding-top: 17px;
  width: 100%;
  font-weight: bolder;
}

.reserveTicketBtn {
  background-color: #2f2f2f;
  color: white;
  font-weight: bolder;
  font-size: 17px;
  border-radius: 6px;
  padding: 9px 55px;
  margin-top: 37px;
  cursor: pointer;
  border: none;
}

.displayImageContainer {
  width: 50%;
}

.imageContainer {
  width: 100%;
  height: 100%;
}
.imageContainer > img {
  width: 100%;
  height: 100%;
}

.mainHeadingBottom {
  display: none;
  font-size: 34px;
  line-height: 66px;
  font-weight: bolder;
}


.memories{
  background-color: #1e1e1e;
    padding: 4% 35%;
  font-family: "Cardo", serif;
  background-image: url(../images/scribble_light_3.png),url(../images/scribble_light_2.png);
  background-repeat: no-repeat;
  background-position: left -3rem top 2rem, right -2rem bottom 3rem;

}

.meomoriesMainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meomoriesMainContainer > h1{
  font-size: 48px;
  line-height: 0.9;
  color: white;
  text-align: center;
}

.meomoriesMainContainer > p{
  color: white;
  text-align: justify;
  font-size: 14px;
  text-align-last: center;
  margin-top: 17px;
}

.travelLogsBtn{
  background-color: #1e1e1e;
  color: white;
  border: 2px solid white;
  margin-top: 29px;
  padding: 10px 46px;
  border-radius: 5px;
  font-size: 16px;
}

























@media (max-width: 600px) {
  .contactUs {
    display: none;
  }
  .contactUsBtn {
    display: none;
  }
  .contactUsBtn > h3 {
    display: none;
  }

  .navBar {
    width: 100%;
    padding: 0% 0% 0% 0%;
    justify-content: space-between;
  }

  .navItems {
    font-size: 13px;
  }

  .landingPage {
    width: 100%;
    background-size: 23rem 25rem, 6rem 17rem;
  }

  .homeContainer {
    padding-top: 26px;
    flex-direction: column-reverse;
    gap: 5px;
  }
  .mainDescription {
    width: 100%;
  }
  .mainHeading {
    display: none;
    font-size: 1em;
    line-height: 1;
  }
  .mainHeadingBottom{
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 21px;
    margin-block-start: 20;
    text-align: center;
  }

  .description {
    text-align: center;
  }
  .reserveTicketBtn {
    font-size: 12px;
    padding: 9px 19px;
  }
  .displayImageContainer {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
  }
.memories{
  width: 100%;
    padding: 31% 2%;
    background-size: 14rem 5rem, 12rem 4rem;
}
.meomoriesMainContainer{

}

.meomoriesMainContainer > h1{
  display: inline-block;
  font-size: 38px;
}

.meomoriesMainContainer > p{
  padding: 0px 32px;
}

.travelLogsBtn{
  padding: 5px 40px;
}



















}

